<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApp2.Properties.Settings.DCConnectionString"
      connectionString="Data Source=DESKTOP-CNT6SBG;Initial Catalog=DC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp2.Properties.Settings.DDConnectionString"
      connectionString="Data Source=DESKTOP-CNT6SBG;Initial Catalog=DD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp2.Properties.Settings.DBConnectionString"
      connectionString="Data Source=DESKTOP-CNT6SBG;Initial Catalog=DB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp2.Properties.Settings.LTUDQLConnectionString"
      connectionString="Data Source=DESKTOP-CNT6SBG;Initial Catalog=LTUDQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
